#
# Ansible information:
#     Filename : {{ template_path | regex_replace("/etc/ansible[^/]*", "...") }}
#     Hostname : {{ template_host }}
#     Rolename : {{ role_name }}
#

# Empty

# -------------------------------------------------------------------
# Copyright (c) 2012-today by {{ company }}
# -------------------------------------------------------------------
