# vim:ff=unix ts=4 sw=4 ai expandtab
#
# Ansible information:
#     Filename : {{ template_path | regex_replace("/etc/ansible[^/]*", "...") }}
#     Hostname : {{ template_host }}
#

/var/log/ansible.log {
    missingok
    notifempty
    copytruncate
}

# -------------------------------------------------------------------
# Copyright (c) 2012-today by {{ company }}
# -------------------------------------------------------------------
