# vi: set sw=4 ts=4 ai:
#
# Ansible information:
#     Filename : {{ template_path | regex_replace("/etc/ansible[^/]*", "...") }}
#     Hostname : {{ template_host }}
#

pathmunge () {
	# TonK - If the directory does not exist,
	# do not put it in the path. This way we can have a
	# generic profile
	[[ ! -d ${1} ]] && return

	if ! echo $PATH | /bin/egrep -q "(^|:)$1($|:)"
	then
		if [[ "${2}" = "before" ]]
		then
			PATH=${1}:${PATH}
		else
			PATH=${PATH}:${1}
		fi
	fi
}

if [[ -z "${EUID}" ]]
then
	# ksh workaround
	EUID=`id -u`
	UID=`id -ru`
fi
USER="`id -un`"
LOGNAME=${USER}
MAIL="/var/spool/mail/${USER}"

# Path manipulation
pathmunge /bin
pathmunge /sbin
pathmunge /usr/bin
pathmunge /usr/sbin
pathmunge /usr/local/bin
pathmunge /usr/local/sbin

HOSTNAME=`/bin/hostname 2>/dev/null`
HISTSIZE=1000
if [[ "${HISTCONTROL}" = "ignorespace" ]]
then
	export HISTCONTROL=ignoreboth
else
	export HISTCONTROL=ignoredups
fi
export PATH USER LOGNAME MAIL HOSTNAME HISTSIZE HISTCONTROL

# By default, we want umask to get set. This sets it for login shell
# Current threshold for system reserved uid/gids is 200
# You could check uidgid reservation validity in
# /usr/share/doc/setup-*/uidgid file
if [[ $UID -gt 199 && "`id -gn`" = "`id -un`" ]]
then
	umask 002
else
	umask 022
fi

for i in /etc/profile.d/*.sh
do
	if [[ -r "${i}" ]]
	then
		if [[ "${-#*i}" != "${-}" ]]
		then
			. "${i}"
		else
			. "${i}" >/dev/null 2>&1
		fi
	fi
done

unset i
unset pathmunge

# -------------------------------------------------------------------
# Copyright (c) 2012-today by {{ company }}
# -------------------------------------------------------------------
